.clearfix:before, .clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both
}
/*handle all font sizing in one place*/

@media (min-width: 800px) {
    body {
        font-size: 16px;
        line-height: 1.5em;
    }
    #header h1 {
        font-size: 5em;
        line-height: 1em;
        margin: 44px 0px 10px 0px;
    }
    h1 {
        font-size: 1.8em;
        margin: .8em 0 .2em 0
    }
    h2 {
        font-size: 1.5em;
        padding-bottom: 0.15em;
        margin: 1.2em 0 .4em 0;
    }
    h3 {
        font-size: 1.3em;
        margin: 1.2em 0 .6em 0;
        color: #999
    }
    h4 {
        font-size: 1.1em;
        margin: 1.2em 0 .6em 0;
        color: #999
    }
    p {
        font-size: 1em;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        line-height: 1.6em;
    }
    p.smalltext {
        font-size: 0.8em;
        margin-top: 0em;
    }
    svg#gpa-breakdown {
        width: 100%;
        height: 250px;
    }
    embed#jsconf {
        width: 100%;
        height: 300;
    }
}
@media (max-width: 799px) {
    #header h1 {
        font-size: 3em;
        margin: 10px 0px 0px 0px;
    }
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 1.2em;
        margin: .8em 0 .2em 0
    }
    h2 {
        font-size: 1em;
        padding-bottom: 0.15em;
        margin: 1.2em 0 .4em 0;
    }
    h3 {
        font-size: .8em;
        margin: 1.2em 0 .6em 0;
        color: #999
    }
    h4 {
        font-size: .7em;
        margin: 1.2em 0 .6em 0;
        color: #999
    }
    p {
        font-size: 0.6em;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        line-height: 1em;
    }
    p.smalltext {
        font-size: 0.5em;
        margin-top: 0em;
    }
    .resume .plottable .axis text {
        font-size: 10px;
    }
    svg#gpa-breakdown {
        width: 90%;
        height: 250px;
    }
    embed#jsconf {
        width: 100%;
        height: 250;
    }
}
html {
    overflow-y: scroll;
    border-top: 4px dashed #333;
    border-bottom: 4px dashed #333;
}
body {
    color: #333;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
#header {
    text-align: center;
}
#header h1 {
    color: #0066FF;
    border-bottom: none;
    font-family: Helvetica, Palatino, Garamond, Georgia, serif;
    font-weight: bold;
    line-height: 1em;
    margin: 44px 0 10px 0;
}
#footer {
    margin-top: 3em;
}
#header a:link, #header a:visited {
    font-weight: normal;
    text-decoration: none
}
#container {
    margin: 0 auto 60px auto;
    max-width: 700px;
    width: 94%;
}
@media all and (max-width: $break4) {
    #container {
        max-width: 600px
    }
}
@media all and (max-width: $break2) {
    #container {
        max-width: 700px
    }
}
.home #container, .about #container, .resume #container {
    max-width: 700px
}
a:link, a:visited {
    color: #0066FF;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
a[rel="tag"] {
    color: #666;
}
h1, h2, h3, h4 {
    color: #333;
    line-height: 1.2em;
    border-bottom: 1px solid #eee;
}
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited {
    text-decoration: none
}
h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active {
    text-decoration: underline
}
.postHeader {
    text-align: center
}
.content h1 a:link, .content h1 a:visited {
    color: #333;
    text-decoration: none
}
p.final {
    margin-bottom: 1.5em;
}
p code {
    font-size: 12px;
    background-color: #eee;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 4px;
    white-space: nowrap
}
li p {
    margin-top: 0.2em;
    margin-bottom: 0.2;
}
ul {
    margin-top: .5em;
    margin-bottom: 1.5em;
    padding-left: 0em;
    list-style-type: none;
}
ul.bullet {
    padding-left: 1.5em;
    list-style-type: disc;
}
ul.continue {
    margin-bottom: 0.2em;
}
li {
    margin: .3em 0
}
abbr[title] {
    border-bottom: 1px dotted #999
}
img, iframe, object, embed, audio, video {
    display: block;
    margin: 20px auto;
    max-width: 100%
}
img {
    padding: 3px;
    border: 1px solid #eee
}
.resume h1 {
    border-bottom: 0;
    margin-top: 0;
    text-align: center
}
.resume h3 {
    border-bottom: 0;
    color: #333;
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: .5em;
    text-decoration: none;
    vertical-align: top
}
.resume li span, .resume h3 span {
    color: #666;
    font-size: 1em;
    font-weight: normal;
    margin-left: 2px;
}
.resume li span:before, .resume h3 span:before {
    content: " ["
}
.resume li span:after, .resume h3 span:after {
    content: "]"
}
.resume .right h3 {
    margin-bottom: .3em
}
.resume .right h3 + p {
    margin: .3em 0
}
.resume .right ul {
    margin-top: .3em
}
@media print {
    body, h1, h2, h3, h4, .content h1 a, .highlight {
        color: #000;
        background-color: #fff
    }
    section.meta, div#carbonads-container {
        display: none
    }
    article a:link:after, article a:visited:after {
        content: " (" attr(href) ") ";
        font-size: 90%
    }
}
